body {
    margin: 0;
    padding: 0;
    background: url('../img/background.jpg') no-repeat fixed;
}

.container {
    background: #fff;
}

.logo {
    width: 100px;
    margin-top: -10px;
}

.navbar {
    margin-bottom: 0;
}

.block-header {
    padding-top: 10px;
    font-weight: bold;
}

.copylink {
    color: inherit;
    text-decoration: none;
}

.nav-pills>li>a {
    border-radius: 0;
}
.footer-padding
{
    padding-top: 60px;
}
.container-heigth
{
    min-height: 1080px;
}
